{% extends "logistics/reports_base.html" %}

{% load i18n logistics_report_tags math_tags alerts_tags %}

{% block content %}
    <div class="module">
        <div id="main">
            <div id="report-title">
                <h2 style="margin-bottom: 10px; background-color: #000; font-size: 160%; padding: 0.3125em; color: #fff; line-height: 1; font-weight: normal;">
                    {{ location.name }} {% trans "Weekly Summary Report" %}
                </h2>
            </div>
            <div id="report-content">
                <table style="width:100%; margin-bottom: 10px;">
                    <thead>
                        <tr style="text-align: left;"><th colspan="2" style="padding: 0.5em; border: 0; background: #fff;">Reporting</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% with report.reported|length as reported %}
                            <td style="padding: 0.5em; border: 1px solid #000;">{% percent reported facility_count %} of facilities are reporting
                                <span style="color:grey ; font-size:0.75em">({{reported}}/{{facility_count}})</span>
                            </td>
                            {% with report.full|length as full %}
                            <td style="padding: 0.5em; border: 1px solid #000;">{% percent full reported %} of submitted reports are complete
                                <span style="color:grey ; font-size:0.75em">({{full}}/{{reported}})</span>
                            </td>
                            {% endwith %}
                            {% endwith %}
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%">
                    <thead>
                        <tr style="text-align: left;">
                            <th style="padding: 0.5em; border: 0; background: #fff;">Product</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">% Facilities<br/> with Stockouts</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">Total # Facilities<br/>Registered with this Product</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">Total Stock</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">% Facilities with Consumption Data</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">Monthly Consumption</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">Months of Stock</th>
                            <th style="padding: 0.5em; border: 0; background: #fff;">Stock Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_stat in product_stats %}
                            <tr><td style="padding: 0.5em; border: 1px solid #000;">{{ product_stat.name }}</td>
                            <td style="padding: 0.5em; border: 1px solid #000;"">{% percent product_stat.stockout_count product_stat.facility_count %} 
                                <span style="color:grey ; font-size:0.75em">({{product_stat.stockout_count}})</span></td>
                            <td style="padding: 0.5em; border: 1px solid #000;"">{{ product_stat.facility_count }}</td>
                            <td style="padding: 0.5em; border: 1px solid #000;"">{{ product_stat.total_stock }}</td>
                            <td style="padding: 0.5em; border: 1px solid #000;"">{% percent product_stat.facilities_with_consumption product_stat.facility_count %} 
                                <span style="color:grey ; font-size:0.75em">({{ product_stat.facilities_with_consumption }})</span></td>
                            <td style="padding: 0.5em; border: 1px solid #000;"">{{ product_stat.consumption }}</td>
                            <td style="padding: 0.5em; border: 1px solid #000;""><strong>{{ product_stat.months_of_stock }}</strong></td>
                            <td style="{%ifequal product_stat.stock_status "Stockout" %}background-color: #ff9899; {% endifequal %}
                                       {%ifequal product_stat.stock_status "Low" %}background-color: #fff6cf;; {% endifequal %}
                                       {%ifequal product_stat.stock_status "Overstocked" %}background-color: #bf7ebe;; {% endifequal %}
                                       {%ifequal product_stat.stock_status "Adequate" %}background-color: #9acc99;; {% endifequal %}
                                       padding: 0.5em; border: 1px solid #000;""><strong>{{ product_stat.stock_status }}</strong></td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="display: none;" id="report-subject">
                {% if notifications %}
                    {{ notifications.0.text }}
                {% else %}
                    {{ location.name }} {% trans "Weekly Summary Report" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
