{% extends "logistics/reports_base.html" %}

{% load i18n logistics_report_tags math_tags alerts_tags %}

{% block content %}
    <div class="module">
        <div id="main">
            <h2 id="report-title" style="margin-bottom: 10px;">{{ location.name }} {% trans "Weekly Summary Report" %}</h2>
            <div id="report-content">
                <table style="width:100%; margin-bottom: 10px;">
                    <tbody>
                        {% for note in notifications %}
                            <tr><td>{{ note.text }}</td></tr>
                        {% empty %}
                            <tr><td>No current alerts.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table style="width:100%; margin-bottom: 10px;">
                    <thead>
                        <tr><th colspan="2">Reporting</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% with report.reported|length as reported %}
                            {% with previous_report.reported|length as previous_reported %}
                            <td>
                                {% percent reported facility_count %} of facilities are reporting
                                {% if reported > previous_reported %}&uarr;{% endif %}
                                {% if reported < previous_reported %}&darr;{% endif %}
                            </td>
                            {% endwith %}
                            {% endwith %}
                            {% with report.full|length as full %}
                            {% with previous_report.full|length as previous_full %}
                            <td>
                                {% percent full facility_count %} of facilities are submitting complete reports
                                {% if full > previous_full %}&uarr;{% endif %}
                                {% if full < previous_full %}&darr;{% endif %}
                            </td>
                            {% endwith %}
                            {% endwith %}
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%">
                    <thead>
                        <tr><th colspan="5">Stock Levels</th></tr>
                    </thead>
                    <tbody>
                        {% for product in product_types %}
                            <tr><td>{{ product.name }}</td>
                            {% with product.counts as counts %}
                            <td style="background-color: #ffb8ca;">{% percent counts.stockout counts.total %} stockout</td>
                            <td style="background-color: #fff49c;">{% percent counts.low_stock counts.total %} low stock</td>
                            <td style="background-color: #d4fff1;">{% percent counts.good_supply counts.total %} adequate stock</td>
                            <td style="background-color: #b3c5ec;">{% percent counts.overstocked counts.total %} overstock</td></tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
