{% extends "logistics/reports_base.html" %}

{% load i18n logistics_report_tags math_tags alerts_tags %}

{% block content %}

<style>
	.stockout {background-color:#ffb8ca;}
	.low_supply {background-color:#fff49c;}
	.good_supply {background-color:#d4fff1;}
	.overstocked {background-color:#b3c5ec;}
</style>

    <div class="module">
        <div id="main">
            <div id="report-title">
                <h2 style="margin-bottom: 10px; background-color: #000; font-size: 160%; padding: 0.3125em; color: #fff; line-height: 1; font-weight: normal;">
                    {{ location.name }} {% trans "Weekly Summary Report" %}
                </h2>
            </div>
            <div id="report-content">
                <table style="width:100%; margin-bottom: 10px;">
                    <tbody>
                        {% for note in notifications %}
                            <tr><td>{{ note.text }}</td></tr>
                        {% empty %}
                            <tr><td>No current alerts.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table style="width:100%; margin-bottom: 10px;">
                    <thead>
                        <tr style="text-align: left;"><th colspan="2" style="padding: 0.5em; border: 0; background: #fff;">Reporting</th></tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% with report.reported|length as reported %}
                            <td style="padding: 0.5em; border: 1px solid #000;">{% percent reported facility_count %} of facilities are reporting</td>
                            {% endwith %}
                            {% with report.full|length as full %}
                            <td style="padding: 0.5em; border: 1px solid #000;">{% percent full facility_count %} of facilities are submitting complete reports</td>
                            {% endwith %}
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%">
                    <thead>
                        <tr style="text-align: left;"><th colspan="5" style="padding: 0.5em; border: 0; background: #fff;">Stock Levels</th></tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr><td style="padding: 0.5em; border: 1px solid #000;">{{ product.name }}</td>
                            {% with product.counts as counts %}
	                            <td style="padding: 0.5em; border: 1px solid #000;" class="{%if counts.stockout_count %}stockout{% endif %}">{% percent counts.stockout_count counts.total %} stockout</td>
	                            <td style="padding: 0.5em; border: 1px solid #000;" class="{%if counts.emergency_plus_low %}low_supply{% endif %}">{% percent counts.emergency_plus_low counts.total %} low stock</td>
	                            <td style="padding: 0.5em; border: 1px solid #000;" class="{%if counts.good_supply_count %}good_supply{% endif %}">{% percent counts.good_supply_count counts.total %} adequate stock</td>
	                            <td style="padding: 0.5em; border: 1px solid #000;" class="{%if counts.overstocked_count %}overstocked{% endif %}">{% percent counts.overstocked_count counts.total %} overstock</td></tr>
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
